


.fish {
 
    }
    #h1 {
    background-color: brown;   
    }
    #span {
        background-color: rgb(86, 86, 131);
        border: 20px;
    }
    #p {
        background-color: aquamarine;
    }
