.fish {   
     color: rgb(99, 56, 56);
    font-weight: bolder;

}

#h1 {
    color: rgb(234, 0, 255);
}

#h2 {
    color: rgb(128, 0, 111);
}
#main {
    background-color: antiquewhite;
    border: 50px;
    margin: 40px;
    padding: 20px;
}

#span {
    color: rgb(17, 17, 177);
     
    margin: 20px;
}
#p {
    background-color: rgb(206, 187, 20);
}
#lorem {background-color: rgb(76, 230, 89);}
