.heriy {
    width: 500pt;color:gold; 
    height: 300px;
    color: rgb(206, 43, 57);
    margin: 100px;color: antiquewhite;
    border: 200px;color: rgb(235, 27, 27);
    padding: 100px;color: #000;
    
}
.heriy__va {
    
    display:block;
    padding: 50px;
   margin: 100px;
    border-bottom: 10px;
    background-color: 
    rgb(209, 230, 20);
}
.nav {
    margin-top: 10px;color: rgb(194, 54, 54);
    border: 10px;
    background-color: blueviolet; 
    color: rgb(37, 25, 27);
    }
.nav__li {
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-flex;
    
     

    
     
     
    
}
