body {font-family: Arial;
background-image: linear-gradient(to right top,
salmon 0%, white 67%, salmon 100%);
}
header {text-align: center;}
h1 {
	font-size: 32pt;
	font-family: Verdana;
}
em {
	font-weight: normal;
	}
p {
	font-size: 12pt !important;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
p.greeting {
		font-size: 24pt;
}
.picture img {
	width:67%;
	min-width: 500px; 
	max-width: 700px; 
}	
.advertising {
	margin-left: 30pt;
}
footer {
	text-align: right;
	border-top: 2pt dotted lightgrey;
	width: 50%;
	max-width: 300px;
	  margin-left: 50%;  

}
.bigger	{
	font-size: 16pt
}
table.pricelist th, table.pricelist td {
	border: gray thin solid; 
	padding: 4px;
}
table.catalog {border-collapse: collapse;}
table.catalog td {
	border-top: black thin dotted; 
	border-bottom: black thin dotted; 
	padding: 10px;
}
table.catalog img {width: 200px;}
table.pricelist thead th {
	color: white; 
	background-color: grey; 
}
tfoot {font-style: italic;
	text-align: right;
	font-weight: 10px; 
}
nav {
	float: left;  
	width: 150px;
	margin: 10px 40px 20px 0px; 
	padding: 10px;
	 /* border: black medium solid ;  */
	/* border-radius: 10px;s */
	box-shadow: 0px 0px 0pt 5pt darkgrey,
	0px 0px 0px 5pt inset darkgrey;  
}
nav div {
	font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 5px;
}
 nav a:link, nav a:visited {  
	color: darkred; 
	text-decoration: none;
}
nav a:active, nav a:hover {
	color: darksalmon; 
	text-decoration: none;
}
/* nav a:target {border: 1px solid red} 		 */
table.catalog tr:first-child td {
	border-top: none;
}
table.catalog tr:last-child td {
	border-bottom: none;
}
table.catalog td p:first-of-type::first-letter {
	font-size: 24pt; 
}
table.pricelist th { text-align: center;
}
table.pricelist td:last-child:not(:only-child) {
	border: none;
	background-color: lightgray;
}
@font-face {
	font-family: "Caviar Dreams"; 
	src: url(../fonts/CaviarDreams.ttf);
}
@font-face { 
	font-family: "Caviar Dreams"; 
	src: url( ../fonts/Caviar_Dreams_Bold.ttf); 
	font-weight: bold;
}
@font-face {
	font-family: "Caviar Dreams"; 
	src: url(../fonts/CaviarDreams_Italic.ttf); 
	font-style: italic;
} 
@font-face { 
	font-family: "Caviar Dreams"; 
	src: url(../fonts/CaviarDreams_Bolditalic.ttf);
	font-weight: bold; 
	font-style: italic;
	}
table.catalog h3 {
		font-family: "Caviar Dreams"; 
		font-size: 20pt;
		letter-spacing: 2pt;
	}
table.catalog h3::after {content: ":";}
h1 {
	font-size: 32pt; 
	font-family: Verdana; 
	text-shadow: 3pt 3pt 5pt darkgrey;
	}
h3::first-letter {
		vertical-align: baseline;
		vertical-align: text-bottom;
	}
	/* h3 {letter-spacing: 2pt;} */
	.catalog p::first-letter {vertical-align: text-top;}
ol {
	list-style-type: upper-roman;
}
table tr {
	width: 70%;
min-width: 12cm;
}
table td {width: 50%;}
table img {width: 100%;}
form {
width: 400px; 
padding: 0px 10px; 
border: thin dotted darkgrey; 
border-radius: 5px;
}
input, select {
	font: 14pt Courier;
	padding: 5px;
	border: medium double black;
	border-radius: 5px;
}
input[type=submit] {
	font: bold 20pt Verdana; 
	text-transform: uppercase; 
	width: 250px; 
	border: thick solid black; 
	border-radius: 0px;
}
input[type=image] {border-style: none; }


